<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
    <h1>Results:</h1>
    {% for item in text %}
        <p>{{ item }}</p>
    {% endfor %}
    <button onclick="window.location.href='/';" type="button">Back to main page</button>

</body>
</html>